.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  list-style: none;
  width: 282px;
}

.card__image {
  width: 100%;
  height: 282px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 5px;
  background-color: white;
  color: black;
  padding: 25px 20px;
  border-radius: 0 0 10px 10px;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-button {
  background: transparent url(../images/like-innactive-button.svg) center
    no-repeat;
  width: 21px;
  height: 19px;
  border: none;
  padding: 10px;
  transition: transform 0.3s ease;
}

.card__like-button:hover {
  transform: scale(1.4);
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/like-active-button.svg);
}

.card__delete-button {
  background: transparent url(../images/trash.svg) center no-repeat;
  position: absolute;
  width: 18px;
  height: 21px;
  top: 15px;
  right: 15px;
  border: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.card__delete-button:hover {
  transform: scale(1.4);
  cursor: pointer;
}
