.footer__copyright {
  display: flex;
  font-size: 18px;
  line-height: 1.4;
  padding: 67px 0 60px;
  color: #545454;
}

@media (max-width: 620px) {
  .footer__copyright {
    line-height: 17px;
    font-size: 14px;
    padding: 46px 30px 36px;
    justify-content: center;
  }
}
