body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: #fff;
  padding: 0 20px;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (max-width: 375px) {
  .page {
    margin-right: 0;
    margin-left: 0;
  }
}
