.popup {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.3s linear;
  pointer-events: auto;
}

.popup__container {
  position: relative;
  background-color: #fff;
  padding: 36px;
  margin: auto;
  width: 394px;
  border-radius: 10px;
}

.popup__close {
  background: url(../images/close-icon.svg) no-repeat center/contain transparent;
  position: absolute;
  cursor: pointer;
  border: none;
  bottom: calc(100% + 7px);
  left: calc(100% + 8px);
  width: 40px;
  height: 40px;
  transition: opacity 0.3s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

.popup__heading {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.1;
  color: #000;
  padding: 0 0 54px;
}

.popup__form {
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input:focus {
  outline: none;
  box-shadow: none;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

.popup__save-button {
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  max-width: 100%;
  cursor: pointer;
  height: 50px;
  margin: 0;
  padding: 0;
  transition: opacity 0.7s ease;
}

.popup__button_disabled {
  background-color: transparent;
  color: #ccc;
  border: solid 1px #c4c4c4;
  pointer-events: none;
}

.popup__save-button:hover {
  opacity: 0.7;
  border: solid 1px #c4c4c4;
  color: #c4c4c4;
}

.popup__error {
  font-size: 12px;
  line-height: 1.2;
  color: red;

  transition: opacity 0.3s;
  min-height: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
}

.popup__error_visible {
  opacity: 1;
}

.popup__input_type_error {
  border-bottom: red 1px solid;
}

.popup__container_image-preview {
  margin: 0 auto;
  background-color: transparent;
  padding: 0;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
}

.popup__image-preview {
  object-fit: contain;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  height: auto;
}

.popup__close_image-preview {
  bottom: calc(100% + 15px);
}

.popup__image-title {
  padding-top: 15px;
  font-size: 12px;
}

@media screen and (max-width: 620px) {
  .popup__container {
    width: 282px;
    border-radius: 10px;
    padding: 25px 22px;
  }

  .popup__heading {
    font-size: 18px;
    font-weight: 900;
  }

  .popup__save-button {
    padding: 15px;
    height: auto;
    margin-top: 20px;
  }

  .popup__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 10px);
    left: calc(100% - 40px);
  }

  .popup__input {
    padding: 8px 10px;
    margin-bottom: 15px;
  }

  .popup__input:last-of-type {
    margin-bottom: 30px;
  }

  .popup__container_image-preview {
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
    max-width: 75vw;
    max-height: 75vh;
    width: auto;
    height: auto;
  }

  .popup__close_image-preview {
    bottom: calc(100% + 25px);
    left: calc(100% - 25px);
  }
}
