.profile {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 7px;
  align-items: center;
  padding: 0 30px;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  grid-area: title;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.profile__edit-button {
  background: transparent url(../assets/images/edit-button.svg) center no-repeat;
  grid-area: button;
  border: solid #fff 1px;
  padding: 10px;
  margin: 0 10px 0;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../assets/images/add-button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: solid #fff 2px;
  border-radius: 2px;
  transition: opacity 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-area: description;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__image-container {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile__image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.profile__image-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
  border-radius: 50%;
}

.profile__image-edit {
  background: url("../images/edit-profile-button.png") center/30px no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.profile__image-container:hover::before {
  opacity: 1;
}

.profile__image-container:hover .profile__image-edit {
  opacity: 1;
}

@media (max-width: 770px) and (min-width: 621px) {
  .profile__info {
    grid-template-columns: auto;
  }

  .profile__title {
    font-size: 28px;
  }

  .profile__description {
    font-size: 16px;
  }

  .profile__add-button {
    width: 100px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .profile__info {
    width: 100%;
    justify-content: center;
    gap: 14px 10px;
    max-width: 350px;
  }

  .profile__description {
    width: 100%;
    padding-right: 40px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    padding: 0;
  }

  .profile__add-button {
    display: flex;
    padding: 0;
    width: 282px;
    align-items: center;
    margin: 0;
    margin-top: 36px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
  }

  .profile__image {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .profile__info {
    padding-left: 0;
  }

  .profile__description {
    padding-right: 0;
  }

  .profile__add-button {
    width: 90%;
  }

  .profile__image {
    margin-bottom: 30px;
  }

  .profile__edit-button {
    margin: 0;
  }
}
